    <div class="body">

        <div class="login">

            <form [formGroup]=" formLogueo" (ngSubmit)="ingresar()">

          <img src="../../../assets/imagenes/login,png.png" width="50%">
        <h1>Login</h1>

        <mat-form-field appearance="fill" class="ancho">
            <mat-label>Usuario</mat-label>
            <input required matInput formControlName="usuario">
            <mat-hint>El nombre de usuario debe ser válido</mat-hint>
          </mat-form-field>
          <br>
          <br>
          <mat-form-field appearance="fill" class="ancho">
            <mat-label>Contraseña</mat-label>
            <input required matInput formControlName="password" type="password">
            <mat-hint>La Contraseña debe ser valida</mat-hint>
          </mat-form-field>

          <br>
          <br>
          <button type="submit" mat-raised-button color="primary" class="ancho button">Ingresar</button>
        </form>

        </div>

    </div>
