<h1 class="text-center">TRAZABILIDAD DE LA QUEJA</h1>

<div class="container">
    <mat-radio-button [disabled]="true" [checked]="presentadaSelected">Presentada</mat-radio-button>
    <mat-radio-button [disabled]="true" [checked]="asignadaSelected">Esperando a ser asignada</mat-radio-button>
    <mat-radio-button [disabled]="true" [checked]="analisisSelected">En Análisis</mat-radio-button>
    <mat-radio-button [disabled]="true" [checked]="procedenteSelected">Procedente</mat-radio-button>
    <mat-radio-button [disabled]="true" [checked]="seguimientoSelected">Seguimiento</mat-radio-button>
    <mat-radio-button [disabled]="true" [checked]="finalizadaSelected">Finalizada</mat-radio-button>
  </div>
  