<app-sidebar (onToggleSideNav)="onToggleSideNav($event)"></app-sidebar>
<div class="body" [ngClass]="getBodyClass()" >
  <router-outlet></router-outlet>


<body>
<br> <br>
<br> <br>
<div class="text-center">
    <h1>Quejas</h1>
    <br> <br>

</div>

<br> <br>
<div class="text-center">
    <button  class="btn btn-success" class="Filtrar"> Nueva Consulta </button>
</div>
<br> <br>
<div class="centrar">
    <table  class="table table-striped text-center" id="table">
        <thead class="table-dark">
            <tr >
                <th class="cabecera-tabla">No. de Queja</th>
                <th class="cabecera-tabla">Punto de Atención</th>
                <th class="cabecera-tabla">Región</th>
                <th class="cabecera-tabla">Estado</th>
                <th class="cabecera-tabla">Resultado</th>
                <th class="cabecera-tabla">Medio de Ingreso</th>
                <th class="cabecera-tabla">Fecha de creación</th>
                <th class="cabecera-tabla">Tiempo de atención</th>
                <th class="cabecera-tabla">Detalle</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor= "let listaQuejas of obtenerElementosPorPagina()" >
                <th >{{listaQuejas.correlativo}}</th>
                <th >{{listaQuejas.puntoAtencion}}</th>
                <th >{{listaQuejas.region}}</th>
                <th >{{listaQuejas.estado}}</th>
                <th >{{listaQuejas.estado}}</th>
                <th> {{listaQuejas.medioIngreso}}</th>
                <th >{{listaQuejas.fechaCreacion | date:'dd/MM/yyyy hh:mm:ss' }}</th>
                <th >xd</th>
                <th >{{listaQuejas.detalle}}</th>
            </tr>

        </tbody>
    </table>
      <div>
        <button   class="Filtrar2" (click)="retrocederPagina()"> Anterior </button>
        <span  style="font-size: 10;">    Página {{ paginaActual }} de {{ numeroDePaginas() }}  </span>
        <button  class="Filtrar2"  (click)="avanzarPagina()"> Siguiente ></button>
      </div>
  
    <br> <br>
    <div class="text-center">
        <div class="col">
            <button  (click)="Imprimirpdf() " class="btn btn-success" class="Filtrar"> Imprimir</button> 

        <button  (click)="exportexcel() " class="btn btn-success" class="Excel"> Excel</button>
        </div>

    </div>
</div> 

    
</body>

</div>



