<app-sidebar (onToggleSideNav)="onToggleSideNav($event)"></app-sidebar>
<body>
    <br> <br>
<br> <br>
<div class="text-center">
    <h1>Quejas</h1>
    <br> <br>

</div>
<br> <br>
<br> <br>
<div class="text-center">
    <button  class="btn btn-success" class="Filtrar"> Nueva Consulta </button>
</div>


<br> <br>
<div class="centrar">
    <table class="table table-striped text-center" id="table">
        <thead class="table-dark">
            <tr>
                <th>No. de Queja</th>
                <th>Punto de Atención</th>
                <th>Región</th>
                <th>Estado</th>
                <th>Resultado</th>
                <th>Medio de Ingreso</th>
                <th>Fecha de creación</th>
                <th>Tiempo de atención</th>
                <th>Detalle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="id"></th>
                <th class="id"></th>
                <th class="id"></th>
                <th class="id"></th>
                <th class="id"></th>
                <th class="id"></th>
                <th class="id"></th>
                <th class="id"></th>
                <th class="id"></th>
            </tr>

        </tbody>
    </table>
    <br> <br>
    <div class="text-center">
        <div class="col">
            <button class="btn btn-success" class="Filtrar"> Imprimir</button> 

        <button class="btn btn-success" class="Excel"> Excel</button>
        </div>

    </div>
</div> 
</body>
